body{
    background-color: rgba(236, 48, 48, 0.788);
    color: black;
}

h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
    background-color: white;
   
   
    border-bottom: 0px;
}