@charset "UTF-8";

body {
    background-color: #c1e2ab;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #517F1F;
}
h1#principal{
    text-align: center;
    background-color: #29400F;
    color: white;
}

h2{
    color: #517F1F;
}
.basico{
    color: #517F1F;
    font-weight: bold;
}

.intermediario{
    color: #e5ff00;
}

.avancado{
    color: #ff0000;
}
.destaque{
    
    background-color: black;
}
